*.DS_Store
.idea/
*.iml

.gitignore

.env/
env/
.venv/
venv/
node_modules/
build/
dictionaryutils/
dist/
*.egg-info/

docker-compose.override.yml

data/**/*.json
data/**/*.txt
output/**/*.tsv

.env
credentials.json
credentials_tox.json
credentials_ppg.json
testing.ipynb
create_PPG_record_active.sh
delete_PPG_record_active.sh
create_ToxDC_record_active.sh
delete_ToxDC_record_active.sh
